<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body >
    <div class="mainnavbar h-20 w-full flex border-b-2">

        <!-- inner nav logos -->
         <div class="innerlogos h-full w-1/4 flex items-center p-5">
<div class="pinterest  h-3/4 w-2/3 flex items-center  overflow-hidden">
<div class="pinimg w-48 h-48"><img src="/images/pinterestlogo.webp" alt="" class="w-full h-full bg-white p-2 object-contain rounded"></div>


</div>
<div class="explore  h-full w-2/5 flex items-center"> <a href="" class="no-underline text-base font-bold">Explore</a></div>



         </div>
         <div class="innerlogos h-full w-3/4  flex ">
<div class="innernavbtns  h-full w-10/12 flex gap-2 justify-end ">
<div class="btnparent h-full w-1/2  flex items-center justify-evenly">
    <div class="innerlinks h-full w-1/5 flex items-center justify-center text-zinc-500 font-bold  ">  <a href="">About</a></div>
<div class="innerlinks h-full     w-1/5 flex items-center justify-center text-zinc-500 font-bold  ">  <a href="">Buisness</a></div>
<div class="innerlinks h-full     w-1/5 flex items-center justify-center text-zinc-500 font-bold  ">  <a href="">Create</a></div>
<div class="innerlinks h-full     w-1/5 flex items-center justify-center text-zinc-500 font-bold  ">  <a href="">News</a></div>

</div>
</div>
<div class="innernavbtns  h-full w-1/5 flex ">

    <div class="login h-full  w-2/4 flex items-center p-2"> 
<div class="h-3/4 bg-red-600 rounded-xl w-full flex items-center justify-center"><a href="" class="text-white font-medium">Log In</a> </div>

    </div>
    <div class="signup h-full  w-2/4 flex items-center p-2">
        <div class="signup h-3/4 bg-gray-300 rounded-xl w-full flex items-center justify-center"><a href="" class="text-black font-medium">Sign Up</a></div>
    </div>
</div>

         </div>
<!--  -->






    </div>
</body>
</html>